<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserDataTable.Properties.Settings.studentsConnectionString"
            connectionString="Data Source=DESKTOP-734OTTD;Initial Catalog=students;Persist Security Info=True;User ID=sa;Password=sasa@123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>